[user]
	name = aikyo
	email = aikyo02@gmail.com
[alias]
	alias = !"if test -z $1; then loop=; for k in `git config --get-regexp ^alias\\. | sort | sed -e 's/^alias\\.\\(\\S*\\).*/\\1/g'`; do echo -n $k; loop="${loop}1"; if test ${#loop} -lt 5; then echo -n '\t'; else echo; loop=; fi; done; exit; fi; git config --list | grep ^alias\\.$1= | sed -e s/^alias\\.//; exit;"
	ap = add -p
	br = branch
	brd = branch -d
  cp = cherry-pick
	co = checkout
	cob = checkout -b
	com = checkout master
	ci = commit
	cl = clone
	d = diff
	dc = diff --cached
  f = fetch
	l = log
	lp = log -p
  lpl = log -p -1
  lplc = log -p -1 -- .
	ls = log --stat
	lfs = log --pretty=format:%s
	lfhas = log --pretty=format:\"%h / %an / %s\"
	lrfh = log --reverse --pretty=format:%h
	lrfhas = log --reverse --pretty=format:\"%h / %an / %s\"
	m = merge
	rb = rebase
  rbi = rebase -i --autosquash
	rl = reflog
	rss = reset --soft
	rsm = reset --mixed
	rsh = reset --hard
	s = show
	sa = stash apply
  sd0 = stash drop stash@{0}
  sd1 = stash drop stash@{1}
  sd2 = stash drop stash@{2}
  sd3 = stash drop stash@{3}
  sd4 = stash drop stash@{4}
  sd5 = stash drop stash@{5}
  sd6 = stash drop stash@{6}
  sd7 = stash drop stash@{7}
  sd8 = stash drop stash@{8}
  sd9 = stash drop stash@{9}
  sl = stash list
  sp = stash pop
  sp0 = stash pop stash@{0}
  sp1 = stash pop stash@{1}
  sp2 = stash pop stash@{2}
  sp3 = stash pop stash@{3}
  sp4 = stash pop stash@{4}
  sp5 = stash pop stash@{5}
  sp6 = stash pop stash@{6}
  sp7 = stash pop stash@{7}
  sp8 = stash pop stash@{8}
  sp9 = stash pop stash@{9}
	ss = stash save -u
	st = status

[core]
	excludesfile = ~/.gitignore
[difftool "sourcetree"]
	cmd = opendiff \"$LOCAL\" \"$REMOTE\"
	path =
[mergetool "sourcetree"]
	cmd = /Applications/SourceTree.app/Contents/Resources/opendiff-w.sh \"$LOCAL\" \"$REMOTE\" -ancestor \"$BASE\" -merge \"$MERGED\"
	trustExitCode = true
[color]
	ui = auto
[init]
	templatedir = ~/.git_template
[credential]
	helper = osxkeychain
